body {
	font-family: sans-serif;
}

.font-11 {
	font-size: 1.1rem;
}

.line-height-2 {
	line-height: 2rem;
}

h1, h2, h3, h4 {
	color: greenyellow;
}

img{

        height: 200px;
        width: 300px;
        cursor: pointer;
        padding-bottom: 30px;
        border-radius: 10px;

    }

    #accommodation {
        width: 100%;
        padding: 70px 0;
    }
    .accommodation-box {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }

    .single-accommodation {
        flex-basis: 30%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 20px;
        color: #fff;
        position: relative;
    }

    .single-accommodation img {

        width: 300px;
        border-radius: 5px;
    }
    .overlay{
        width: 97%;
        height: 90%;
        position: absolute;
        top: 0;
        border-radius: 7px;
        cursor: pointer;
        background:linear-gradient(rgba(0,0,0,0.5),#009688 ) ;
        opacity: 0;
        transition: 1s;
    }

    .single-accommodation:hover .overlay {
        opacity: 1;
    }

    .service-desc{
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translate(-50%);
        opacity: 0;
        transition: 1s;
    }

    hr {
        background: rgba(255, 255, 255, 0.6);
        height: 2px;
        border: 0;
        margin: 15px auto;
    }

    .service-desc p{
        font-size: 14px;
    }

    .single-accommodation:hover .service-desc{
        bottom:10%;
        opacity: 1;
    }

    @media screen and (max-width:770px){
        .single-accommodation {
            flex-basis: 100%;
            margin-bottom: 30px;
        }
        .service-desc p{
            font-size: 12px;
        }
        hr{
            margin: 5px auto;
        }
        .single-accommodation:hover .service-desc{
            bottom:25% important;

        }

        #harambee .col{
            flex-basis: 100%;
            align-content: center;
            align-items: center;
            margin-left: 5px;
        }
        #harambee .col img{
            margin-left: 25px;
        }
    }

    #team{
        width: 100%;
        align-items: center;
    }
    .team-row{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .team-col{
        flex-basis: 28%;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 10px 20px 3px #00968814;
        cursor: pointer;
        transition: transform 0.5s;
    }

    .team-col p{
        font-size: 14px;
    }

    .user{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .user img{
        width: 150px;
        margin-right: 20px;
        border-radius: 3px;
    }

    .team-col:hover{
        transform: translateY(-10px);
    }

    @media screen and (max-width:770px){
        .team-col{
            flex-basis: 100%;
        }
    }

    .contact-form{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        outline-style: none;
        margin-bottom: 20px;

    }

    .form-message{
        width: 90%;
        max-width: 600px;
        outline-style: none;
        color: #fff;
    }

    .input-group{
        margin-bottom: 30px;
        position: relative;
        color: #fff;
        border-radius: 2px;
    }

    input, textarea{
        width: 100%;
        padding: 10px;
        outline: 0;
        border: 1px solid #fff;
        background: transparent;
        font-size: 14px;
        color: #fff;
    }

    .form-message label{
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        color: greenyellow;
        cursor: text;
        transition: 0.2s;
    }

    .button{
        padding: 10px 0;
        color: greenyellow;
        outline: none;
        background: none;
        border: 1px solid #fff;
        width: 100%;
        cursor: pointer;
        border-radius: 2px;
    }

    .form-message input:focus~label,
    .form-message input:valid~label,
    .form-message textarea:focus~label,
    .form-message textarea:valid~label
    {
        top: -35px;
        font-size: 13px;
    }

    .form-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-row .input-group{
        flex-basis: 48%;
    }
    @media screen and (max-width:770px){
        .form-row .input-group{
            flex-basis: 100%;
        }
    }

    .leave {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(45deg,4f639b,#fff);
    }

    #model-box{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 30%;
        max-width: 400px;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        display: none;

    }
    #model-box img{
        width: 100%;
    }

    .assistance{
        padding: 10px 20px 30px 30px;
        font-size: 14px;
        line-height: 22px;
    }

    .assistance h3 {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 5px;

    }

    .assistance small{
        display: inline;
        color: #ff2b4e;
        font-weight:1000;
        margin-bottom: 20px;
    }

    .assistance p{
        color: #000;
    }

    .assistance form{
        margin-top: 30px;
        display: flex;
        background:#efefef;
        border-radius: 4px;
    }

    .assistance form input{
        flex: 1;
        border: 0;
        outline: 0;
        background: transparent;
        padding: 12px 10px;
    }

    .assistance form button{
        border: 0;
        outline: 0;
        cursor: pointer;
        background: #ff2b4e;
        color: #fff;
        padding: 0 15px;
        border-bottom: 4px;
    }

    .bttn{
        position: absolute;
        top: 15px;
        right: 15px;
        color: greenyellow;
        cursor: pointer;
    }

    .bttn i{
        color: #ff2b4e;
    }

    @media screen and (max-width:770px){
        #model-box{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 50%;
            max-width: 200px;
            background: #fff;
            border-radius: 5px;
            overflow: hidden;
            display: none;

        }
    }

    /* .container1{
        display: flex;
        flex-basis: 45%;
        margin-left: 30px;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .container1 .text{
        align-content: space-between;
    } */

    .text {
        margin-left: 20px;
        margin-right:30px
    }


    .text h4 {
        /* color: greenyellow; */
        /* justify-content: center; */
    }
    /* .text img {
        width: 400px;
        height: 250px;
    } */


    @media screen and (max-width:770px){
        .container1{
            flex-direction: column;
            text-align: center;
            margin-left: 1px;
        }
        .text h4{
            color: greenyellow;
            font-size: 15px;
        }
        .text p{
            display: block;
        }
        .text img{
           width: 350px;
           margin: 0;
        }
    }

.carousel-item .carousel-caption {
	background-color: black;
	opacity: 0.5;
	width: max-content;
}

.btn-primary:hover {
	background-color: #226a22;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: rgb(131, 196, 34);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
	color: greenyellow;
}

.homepage .content h1 {
	@media (max-width: 767px) {
		text-align: left !important;
	}
}
.homepage .content .section-1 {
	padding-right: 3rem;
	padding-left: 3rem;

	@media (max-width: 767px) {
		padding-right: 0;
		padding-left: 0;
	}
}
.homepage .content .desc {
	padding-right: 3rem;
	padding-left: 3rem;

	@media (max-width: 767px) {
		margin-top: 3rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
.owl-carousel .owl-nav > button {
	outline: none;
}

.owl-carousel .owl-nav>button:focus,
.owl-carousel .owl-nav>button:hover {
	background-color: #17af8a;
}
.owl-carousel .owl-nav button.owl-prev {
	padding-right: 20px !important;
	padding-left: 15px !important;
}
.owl-carousel .owl-nav button.owl-next {
	padding-left: 20px !important;
	padding-right: 15px !important;
}

.services .card-doctor,
.accomodation .card-blog {
	max-width: none;
}
.services .owl-img,
.accomodation .card-blog img {
	height: 300px;
}

.title {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@media (max-width: 767px) {
		padding-bottom: 1.5rem;
	}
}

.accomodation {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.site-color {
	color: greenyellow;
}

.readmore {
	margin-top: 5rem;
	font-size: 1.5rem;
	color: white;
	background-color: #6fab13;
	padding: 10px 26px;
}
.readmore:hover, .readmore:focus {
	background-color: #226a22 !important;
}

.site-color:hover {
	background-color: #6fab13;
}
.accordions {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.accordion {
	color: greenyellow;
	transition: opacity 0.3s ease;
	cursor: pointer;
	height: 2.5rem;
	clear: both;
	border-bottom: 1px solid #838587;
	margin-bottom: 1rem;
	padding: .5rem;
}

.accordion:hover {
	background: #a0989866;
}

.accordion+.desc {
	padding-left: 1rem;
	padding-right: 2rem;
	display: none;
	transition: opacity 0.6s ease;
}

/* Community page */
.community .page-hero {
	background-image: url('../../assets/img/INursery_MG_5866-scaled.jpg');
	@media (max-width: 767px) {
		height: 400px;
	}
}
.community .content {
	margin-top: 4rem;
	margin-bottom: 4rem;

	@media (max-width: 767px) {
		margin-top: 2rem;
	}
}
/* End of community page */

/* Harambee page */
.harambee .page-hero {
	background-image: url('../../assets/img/tree.avif');
	opacity: 0.8;

	@media (max-width: 767px) {
		height: 400px;
	}
}
.harambee .content,
.projects .content {
	margin-top: 2rem;
	margin-bottom: 5rem;

	@media (min-width: 768px) {
		margin-top: 4rem;
	}
}

.harambee .content .articles-1 {
	@media (min-width: 768px) {
		padding-right: 2rem;
	}
}
.harambee .articles-1 .art-2 {
	@media (max-width: 767px) {
		margin-top: 2rem;
	}
}
/* End Harambee page */

/* Projects page */
.projects .page-hero {
	background-image: url('../../assets/img/projects.jpg');
	opacity: 0.8;

	@media (max-width: 767px) {
		height: 400px;
	}
}
.projects .carousel-item .img-box {
	height: 300px;
}
/* End Harambee page */
